{{> header pageTitle="SECA" class="header"}}

<header class="headerAllGroups">
    <form method="POST" action="/site/signOut">
        <input type="submit" value="Sign Out">
    </form>
</header>

<div class="createGroupDiv">{{> newGroup }}</div>

<hr>

<section class="sectionMain">
    {{#each groups}}
      {{> groupSection group=this}}
    {{/each}}
</section>