{{> header pageTitle="SECA" class="header"}}

<header class="headerAllGroups">
    <a href="/site/home/showEvents">Events</a>
</header>

<div class="container">
  {{> createUser}}
</div>

<div class="container">
  {{> getUser}}
</div>
