<form method="POST" action="/site/auth/home/showEvents/delete">
    <input type="hidden" value="{{groupId}}" name="groupId">
    <input type="hidden" value="{{eventId}}" name="eventId">
    <input type="submit" value="Delete">
</form>