<a href="/site/auth/home/showDetails?groupId={{group.groupId}}" class="groupLink">
    <section class="groupSection">
        <header class="groupHeader">
            <h1>{{group.name}}</h1>
            <p>Description: {{group.description}}</p>
        </header>
    </section>
</a>
